/* ////////////////////////HEADER////////////////////// */

* {
  background-color: black;
}

.header-container {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 30vh;
}

.left-side {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.right-side {
  display: flex;
  justify-content: flex-start;
}

/* ////////////////////////LOGO///////////////////// */

.logo {
  flex: 1;
  font-family: "Permanent Marker", cursive;
  font-size: 15px;
  text-align: center;
  color: #fff;
  margin: -50px 20px -50px;
}

.cage {
  font-size: 60px;
  /* clip-path: inset(20px 0); */
}

/* ////////////////////////BUTTONS///////////////////// */

.btn {
  flex: 1;
  width: 100px;
  height: 50px;
  margin: 0 40px;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 30px;
}

.easy {
  width: 75px;
  height: 40px;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

.easy:hover {
  color: black;
  background-color: #fff;
}

.medium {
  width: 100px;
  height: 40px;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

.medium:hover {
  color: black;
  background-color: #fff;
}

.hard {
  width: 75px;
  height: 40px;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}

.hard:hover {
  color: black;
  background-color: #fff;
}

.top-time {
  width: 250px;
}

.starting {
  color: #21bf73;
  border: 1px solid #21bf73;
}

.danger {
  color: #9a1f40;
  border: 1px solid #9a1f40;
}

/* ////////////////////////CARD CONTAINER///////////////////// */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  grid-gap: 20px 0;
  justify-content: center;
}

.card-box {
  position: relative;
  width: 120px;
  height: 120px;
  transition: all 0.5s ease;
  transform-style: preserve-3d;
}

.flip {
  transform: rotateY(180deg);
}

.card-front {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  clip-path: inset(10px);
  background: #fff;
  backface-visibility: hidden;
}

.card-back {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: scale-down;
  clip-path: inset(10px);
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

img {
  width: 120px;
  height: 120px;
  max-width: 200px;
  max-height: 200px;
  object-fit: scale-down;
}
/* ////////////////////////VIDEO///////////////////// */
.loser {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.95;
}

/* ////////////////////////////////////////////////////////// */
